.parent-element {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  width: 70%;
}

.parent-element:has(.element:hover) .element {
  @apply blur-sm;
}

.parent-element:hover .element:hover {
  @apply blur-none scale-150;
  animation: rotate 300ms;
}

.skills-text:has(.element:hover) #text-box{
  transform: scale(1.03) translateY(-1rem);
  box-shadow: 0px 8px 8px hsla(0, 0%, 97%, 0.3);
}

#text-box{
  transition: 100ms;
}

@keyframes rotate {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(719deg) scale(1.5);
  }
}
